<mat-toolbar class="mat-elevation-z8" color="primary">
  <span class="fill-remaining-space"></span>

  <h1>{{ title }}</h1>

  <span class="fill-remaining-space"></span>

  <button mat-raised-button color="accent" (click)="customSearch()">
    Custom Search
  </button>
</mat-toolbar>

<mat-toolbar>
  <span class="fill-remaining-space"></span>

  <mat-form-field class="form-field mt">
    <mat-label>Type here to filter by breed</mat-label>
    <input
      matInput
      type="search"
      [(ngModel)]="searchTxt"
      (keyup)="applyFilter(searchTxt)"
    />
    <button
      mat-button
      *ngIf="searchTxt"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <span class="fill-remaining-space"></span>
</mat-toolbar>

<mat-grid-list cols="7" rowHeight="250px">
  <mat-grid-tile
    *ngFor="let d of filteredDogsList"
    colspan="1"
    rowspan="1"
    class="mt"
  >
    <mat-card class="txt-c" (click)="openSubBreeds(d.name)">
      <img mat-card-image [src]="d.imgPath" class="breed-img" />
      <mat-card-title>{{ d.name | titlecase }}</mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
